* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-size: 50px;

}

img {
    width: 50%;
    max-width: 100%;
    height: auto;
}
@media (max-width:390px){
    h1{
        font-size: 20px;
        margin: 10px;
    }
    img{
        width: 100%;
    }
}